<h1> Reservations for <%= @restaurant.name %></h1>

<table border="1">
<tr>
<td>Reservation time</td>
<td>Party size</td>
</tr>
<tr>
<% @reservations.each do |reservation| %>
<td>
	<%= reservation.seating_time %>
</td>
<td>
	<%= reservation.party_size %>
</td>


<% end %>
</table>